.input-area{
    padding: 0.6rem;
    border-radius: 0.6rem;
    width: 25rem;
    font-size: 1.2rem;
   
   margin-left: 450px;
}
.input-area input{
    width: 20rem;
    height: 1.5rem;
    border-radius: 10px;
}
 /* .input-area input:focus{
    background-color: tomato;
    color: white;
} */